# Database
NEXT_PUBLIC_MONGODB_URI=your_mongodb_uri

# BetterAuth
BETTER_AUTH_SECRET=your_secret_key
BETTER_AUTH_URL=http://localhost:3000

# Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# API
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# JSON Server
NEXT_PUBLIC_JSON_SERVER_URL=http://localhost:3001
